.section-1-container {
padding: 100px;
display: flex;
flex-direction: row;
justify-content: space-between;
height: 75vh;

}

.right-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: var(--brand4);
  height: 100%;
}

.row-1{
  height: 70%;
  /* flex: 3; */
padding-bottom: .5rem;
}

.image-1{
width: 100%;
height: 100%;
object-fit: cover;

}

.row-2{
  /* flex: 1; */
  height: 30%;
display: flex;
flex-direction: row;
gap: .5rem;
}

.portfolio-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.portfolio-image {
  flex: 1;
}

.left-column  { 
  display: grid;
  grid-template-rows: 300px 40px 1fr 100%;
  row-gap: 25px;
  height: auto;

}

.row-b1 {
    display: flex;
    justify-content: center;
  }

.profile-picture-container {
  position: relative;
  justify-self: center;
  background-color: var(--brand5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .8);
  width: 300px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-picture {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: opacity 0.3s ease;
  justify-self: center;
}

.profile-picture-hover {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.5s ease-in-out;
  transform: translateY(100%);
}

.profile-picture-container:hover .profile-picture {
  opacity: 0;
}

.profile-picture-container:hover .profile-picture-hover {
  opacity: 1;
  transition-delay: 0.2s;
  transform: translateY(0);
}


.name {
  justify-self: center;
}

.bio {
  text-align: justify;
}

.mantra-bio {
  color: var(--brand2);
  font-style: italic;
  font-size: var(--fs-body);
  margin-left: 25px;
}

.bio-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 50px;
}

button {
  position: relative;
  border-color: var(--brand1);
  padding: 10px 25px;
  margin: 0px 5px 5px 0px;
  color: var(--brand1);
  background-color: transparent;
  overflow: hidden;
  background-image: linear-gradient(to right, transparent 50%, var(--brand1) 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s, color 0.3s;
}

button:hover {
  background-position: -100% 0;
  color: var(--brand5);
  font-weight: var(--fs-body);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}

.button-portfolio button {
  justify-self: start; /* Align left */
}

.button-resume button {
  justify-self: end; /* Align right */
}