* {
  background-color: #222222;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;

}

:root {
  --brand1: rgba(210, 181, 103, 1); /* brand color #d2b567*/
  --brand2: #708d81;
}

main {
  
}

h2 {
  color: var(--brand1);
  font-size: 48px;
  font-weight: 400;
  

}

p {
  color: white;
  font-size: 18px;

}
/* This is a CSS comment */